<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lucas.covid19.mapper.CovidMapper">

	<resultMap type="com.lucas.covid19.models.FoodRequest"
		id="FoodRequestMap">
		<id property="foodId" column="foodId" />
		<result property="fullName" column="fullName" />
		<result property="phoneNumber" column="phoneNumber" />
		<result property="address" column="address" />
		<result property="latitude" column="latitude" />
		<result property="longitude" column="longitude" />
		<result property="date" column="date" />
		<result property="dateLong" column="dateLong" />
		<result property="time" column="time" />
		<result property="timeLong" column="timeLong" />
		<result property="createdAt" column="createdAt" />

		<!-- User Object -->
		<association property="user" column="enteredBy"
			javaType="User" select="findUserById" />
	</resultMap>

	<insert id="addNewUser"
		parameterType="com.lucas.covid19.models.User" useGeneratedKeys="true"
		keyProperty="userId" keyColumn="userId">
		INSERT INTO
		User
		(fullName,
		emailId,
		phoneNumber,
		password,
		userType)
		VALUES
		(#{fullName},
		#{emailId},
		#{phoneNumber},
		#{password},
		#{userType})
	</insert>

	<select id="findUserById" parameterType="java.lang.Integer"
		resultType="com.lucas.covid19.models.User">
		SELECT userId, fullName, emailId, phoneNumber, userType
		FROM User
		where
		userId =
		#{value}
	</select>

	<select id="findUserByEmail" parameterType="java.lang.String"
		resultType="com.lucas.covid19.models.User">
		SELECT *
		FROM User
		where
		emailId =
		#{value}
	</select>

	<select id="findUserByPhone" parameterType="java.lang.String"
		resultType="com.lucas.covid19.models.User">
		SELECT *
		FROM User
		where
		phoneNumber =
		#{value}
	</select>

	<insert id="addFoodRequest"
		parameterType="com.lucas.covid19.models.FoodRequest"
		useGeneratedKeys="true" keyProperty="foodId" keyColumn="foodId">
		INSERT INTO
		FoodRequest
		(
		fullName,
		phoneNumber,
		address,
		latitude,
		longitude,
		date,
		dateLong,
		time,
		timeLong,
		enteredBy)
		VALUES
		(
		#{fullName},
		#{phoneNumber},
		#{address},
		#{latitude},
		#{longitude},
		#{date},
		#{dateLong},
		#{time},
		#{timeLong},
		#{enteredBy})
	</insert>

	<select id="filterFoodRequestByUserId" parameterType="map"
		resultType="com.lucas.covid19.models.FoodRequest">
		SELECT * FROM FoodRequest where enteredBy = ${userId} AND
		(createdAt between #{fromDate} AND #{toDate})
	</select>

	<select id="filterFoodRequestByDate" parameterType="map"
		resultType="com.lucas.covid19.models.FoodRequest">
		SELECT * FROM FoodRequest where createdAt between
		#{fromDate} AND #{toDate}
	</select>

</mapper>